.sidebar{
    background-color: #66a5b5;
}

.principal{
    background-color: #d2eae7;
}

@import url(https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible);

body {
    font-family: 'Atkinson Hyperlegible';
}

.deprecated-text-justify {
    text-align: justify;
}