.sidebar{
    background-color: #66a5b5;
}

.principal{
    background-color: #d2eae7;
}

@import url(https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible);

body {
    font-family: 'Atkinson Hyperlegible';
}

.deprecated-text-justify {
    text-align: justify;
}

.btn-tag {
    pointer-events: none;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}